
/* Add your styles here */
.form-sign-up{
    display: grid;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.input-field{
    display: inline-grid;
    text-align: right;
    margin: 3px;
}

.footer-fix{
    margin-top: 256px;
}

.background-img{
    background-image: url("img/background.jpg");
}